/* Загальні стилі */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #fdf8f5;
  }
  
  .tree-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0; /* Фон */
  }
  
  .tree {
    width: 90%;
    max-height: 90%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнення */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .start-container {
    position: absolute;
    bottom: 50px; /* Відступ віднизу */
    width: 100%;
    text-align: center;
    z-index: 3;
  }
  
  
  #startButton {
    font-size: 32px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: opacity 0.5s ease;
  }
  
  #startButton:active {
    background-color: #f0f0f0;
  }
  